<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Manager</title>
</head>
<body>
Hi, this is survey manager
<div>
    Questions in survey
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date of Creation</th>
        </tr>
        <tr th:each="question : ${questions}">
            <td th:text="${question.id}"></td>
            <td th:text="${question.title}"></td>
            <td th:text="${question.description}"></td>
            <td th:text="${question.createdAt}"></td>
        </tr>
    </table>
</div>
<div>
    <a th:href="@{/instructor/survey/addquestions(courseId=${courseId},surveyId=${surveyId})}">
        Add/Edit Questions
    </a>
</div>
<div>
    <button>Publish Survey</button>
    <button>Unpublish</button>
</div>
</body>
</html>