<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Course TAs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/UploadCSV.js}"></script>

    <div class="container">
        <h5 class="mb-3 alert alert-danger" role="alert" th:if="${errorMessage != null && errorMessage != ''}"
            th:text="${errorMessage}">Error Message</h5>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3" align="center">Course TAs</h4>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3 align="center" class="mb-3">BannerId</h3>
            </div>
            <div class="col-md-3">
                <h3 class="mb-3" align="center">First Name</h3>
            </div>
            <div class="col-md-3">
                <h3 class="mb-3" align="center">Last Name</h3>
            </div>
            <div class="col-md-3">
                <h3 class="mb-3" align="center">Email</h3>
            </div>
        </div>
        <div class="row" th:each="ta : ${users}">
            <div class="col-md-3">
                <p class="mb-3" th:text="${ta.bannerId}">BannerId</p>
            </div>
            <div class="col-md-3">
                <p class="mb-3" th:text="${ta.firstName}">First Name</p>
            </div>
            <div class="col-md-3">
                <p class="mb-3" th:text="${ta.lastName}">Last Name</p>
            </div>
            <div class="col-md-3">
                <p class="mb-3" th:text="${ta.emailId}">Email</p>
            </div>
        </div>
    </div>
</body>
</html>