<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Welcome to Advance Software Development Test CI/CD</h1>
<button onclick="location.href='/login'">Login Page</button>
<button onclick="location.href='/signup'">SignUp Page</button>
<button onclick="location.href='/home'">Course Page</button>
<div th:if="${isAdmin} == true">
    <button onclick="location.href='/admin'">Admin Page</button>
</div>
<div th:if="${isLoggedIn} == true">
    <button onclick="location.href='/logout'">Logout</button>
</div>
</body>
</html>