<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<form name="f" th:action="@{/login}" method="post">
    <fieldset>
        <legend>Please Login</legend>
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" placeholder="Enter email id" required/><br>
        <label for="username">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter password" required/><br>
        <button type="submit" class="btn">Log in</button>
        <button type="reset">Clear Field</button>
    </fieldset>
</form>

<button onclick="location.href='/forgotpass'">Forgot Password?</button>
</body>
</html>